body {
    margin: 0;
    padding: 0;
    background: antiquewhite;
    height:80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Abril Fatface', sans-serif;
}
.txt {
    font-size: 80px;
    cursor: pointer;
}
.anim {
    animation: glow 1s ease-in-out infinite;
}
@keyframes glow {
    0% {
        text-shadow: 0px 0px 50px aqua;
    }
    25% {
        text-shadow: 0px 0px 50px chartreuse;
    }
    50% {
        text-shadow: 0px 0px 50px brown;
    }
    100% {
        text-shadow: 0px 0px 50px midnightblue;
    }
}