body {
    margin: 0;
    padding: 0;
    background: lightblue;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.box {
    width: 150px;
    padding: 30px;
    text-align: center;
    background: #f1f1f1;
    border: 1px solid #d6d6d6;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.25);
    border-radius: 3px;
    transition: 0.2s all;
    cursor: pointer;
    margin: 30px;
}

.flou {
    filter: blur(3px);
    opacity: 0.5;
    transform: scale(0.98);
    box-shadow: none;
}